In [3]:
import pandas as pd
adni_training=pd.read_csv("D:\\Research\\AD\\ADLLM\\ADNI process 9\\ADNI\\adni_thickness_Dec_17_training.csv")
adni_training=adni_training.fillna("NA")

In [11]:
import pandas as pd
import numpy as np

# Example data
df = pd.DataFrame({
    'value':list(adni_training[adni_training["CENTILOIDS"]!="NA"]["CENTILOIDS"])
})

# Define custom bins with lower and upper bounds
bins = [(-np.inf, 20), (20, 40), (40, 60), (60, np.inf)]

# Create a new column for bin assignment
def assign_bin(value):
    for lower, upper in bins:
        if lower <= value < upper:
            return f"{lower} to {upper}"
    return None

df['bin'] = df['value'].apply(assign_bin)

stats_per_bin = df.groupby('bin')['value'].agg(['mean', 'std', 'count']).reset_index()
stats_per_bin

          bin       mean        std  count
0  -inf to 20  -0.573503  10.137025   1653
1    20 to 40  29.175000   5.631588    280
2    40 to 60  49.589844   5.414553    256
3   60 to inf  97.953434  28.600376    859

In [12]:
import pandas as pd
adni_testing=pd.read_csv("D:\\Research\\AD\\ADLLM\\ADNI process 9\\ADNI\\adni_thickness_Dec_17_testing.csv")
adni_testing=adni_testing.fillna("NA")
import pandas as pd
import numpy as np

# Example data
df = pd.DataFrame({
    'value':list(adni_testing[adni_testing["CENTILOIDS"]!="NA"]["CENTILOIDS"])
})

# Define custom bins with lower and upper bounds
bins = [(-np.inf, 20), (20, 40), (40, 60), (60, np.inf)]

# Create a new column for bin assignment
def assign_bin(value):
    for lower, upper in bins:
        if lower <= value < upper:
            return f"{lower} to {upper}"
    return None

df['bin'] = df['value'].apply(assign_bin)

stats_per_bin = df.groupby('bin')['value'].agg(['mean', 'std', 'count']).reset_index()
stats_per_bin

          bin        mean        std  count
0  -inf to 20   -2.698925  10.169491    372
1    20 to 40   28.104478   5.734358     67
2    40 to 60   49.144928   6.415229     69
3   60 to inf  101.535865  29.085128    237

In [13]:
import pandas as pd
habs_training=pd.read_csv("D:\\Research\\AD\\ADLLM\\ADNI process 9\\HABS-HD\\HABS-HD_thickness_Dec_17_training.csv")
habs_training=habs_training.fillna("NA")
import pandas as pd
import numpy as np

# Example data
df = pd.DataFrame({
    'value':list(habs_training[habs_training["nearest_ab_centiloid"]!="NA"]["nearest_ab_centiloid"])
})

# Define custom bins with lower and upper bounds
bins = [(-np.inf, 20), (20, 40), (40, 60), (60, np.inf)]

# Create a new column for bin assignment
def assign_bin(value):
    for lower, upper in bins:
        if lower <= value < upper:
            return f"{lower} to {upper}"
    return None

df['bin'] = df['value'].apply(assign_bin)

stats_per_bin = df.groupby('bin')['value'].agg(['mean', 'std', 'count']).reset_index()
stats_per_bin

          bin       mean        std  count
0  -inf to 20   0.893676   7.173332   1439
1    20 to 40  27.922330   5.895644    103
2    40 to 60  50.333333   5.776501     78
3   60 to inf  89.901961  23.933781    153

In [14]:
import pandas as pd
habs_testing=pd.read_csv("D:\\Research\\AD\\ADLLM\\ADNI process 9\\HABS-HD\\HABS-HD_thickness_Dec_17_testing.csv")
habs_testing=habs_testing.fillna("NA")
import pandas as pd
import numpy as np

# Example data
df = pd.DataFrame({
    'value':list(habs_testing[habs_testing["nearest_ab_centiloid"]!="NA"]["nearest_ab_centiloid"])
})

# Define custom bins with lower and upper bounds
bins = [(-np.inf, 20), (20, 40), (40, 60), (60, np.inf)]

# Create a new column for bin assignment
def assign_bin(value):
    for lower, upper in bins:
        if lower <= value < upper:
            return f"{lower} to {upper}"
    return None

df['bin'] = df['value'].apply(assign_bin)

stats_per_bin = df.groupby('bin')['value'].agg(['mean', 'std', 'count']).reset_index()
stats_per_bin

          bin       mean        std  count
0  -inf to 20   0.859890   7.046061    364
1    20 to 40  28.766667   5.952011     30
2    40 to 60  49.230769   7.119853     13
3   60 to inf  87.114286  17.175173     35

In [15]:
import pandas as pd
pointer_training=pd.read_csv("D:\\Research\\AD\\ADLLM\\ADNI process 9\\POINTER\\pointer_thickess_Dec_18_training.csv")
pointer_training=pointer_training.fillna("NA")
import pandas as pd
import numpy as np

# Example data
df = pd.DataFrame({
    'value':list(pointer_training[pointer_training["FBB_CENTILOIDS_1"]!="NA"]["FBB_CENTILOIDS_1"])
})

# Define custom bins with lower and upper bounds
bins = [(-np.inf, 20), (20, 40), (40, 60), (60, np.inf)]

# Create a new column for bin assignment
def assign_bin(value):
    for lower, upper in bins:
        if lower <= value < upper:
            return f"{lower} to {upper}"
    return None

df['bin'] = df['value'].apply(assign_bin)

stats_per_bin = df.groupby('bin')['value'].agg(['mean', 'std', 'count']).reset_index()
stats_per_bin

          bin       mean        std  count
0  -inf to 20   5.003683   7.098411    543
1    20 to 40  27.382353   5.786711    102
2    40 to 60  48.723404   5.811167     47
3   60 to inf  86.456140  21.374275     57

In [16]:
import pandas as pd
pointer_testing=pd.read_csv("D:\\Research\\AD\\ADLLM\\ADNI process 9\\POINTER\\pointer_thickess_Dec_18_testing.csv")
pointer_testing=pointer_testing.fillna("NA")
import pandas as pd
import numpy as np

# Example data
df = pd.DataFrame({
    'value':list(pointer_testing[pointer_testing["FBB_CENTILOIDS_1"]!="NA"]["FBB_CENTILOIDS_1"])
})

# Define custom bins with lower and upper bounds
bins = [(-np.inf, 20), (20, 40), (40, 60), (60, np.inf)]

# Create a new column for bin assignment
def assign_bin(value):
    for lower, upper in bins:
        if lower <= value < upper:
            return f"{lower} to {upper}"
    return None

df['bin'] = df['value'].apply(assign_bin)

stats_per_bin = df.groupby('bin')['value'].agg(['mean', 'std', 'count']).reset_index()
stats_per_bin

          bin       mean        std  count
0  -inf to 20   4.428571   6.949088    140
1    20 to 40  27.428571   5.714643     21
2    40 to 60  50.363636   6.576819     11
3   60 to inf  91.375000  24.404576     16

In [18]:
import pandas as pd
a4_training=pd.read_csv("D:\\Research\\AD\\ADLLM\\ADNI process 9\\A4\\A4_thickness_Dec_17_validation.csv")
a4_training=a4_training.fillna("NA")
import pandas as pd
import numpy as np

# Example data
df = pd.DataFrame({
    'value':list(a4_training[a4_training["centiloid"]!="NA"]["centiloid"])
})

# Define custom bins with lower and upper bounds
bins = [(-np.inf, 20), (20, 40), (40, 60), (60, np.inf)]

# Create a new column for bin assignment
def assign_bin(value):
    for lower, upper in bins:
        if lower <= value < upper:
            return f"{lower} to {upper}"
    return None

df['bin'] = df['value'].apply(assign_bin)

stats_per_bin = df.groupby('bin')['value'].agg(['mean', 'std', 'count']).reset_index()
stats_per_bin

          bin       mean        std  count
0  -inf to 20   5.504883   9.475032     66
1    20 to 40  31.570564   5.660713     84
2    40 to 60  49.148302   5.515407    104
3   60 to inf  89.953286  25.253362    186

In [19]:
import pandas as pd
adni_training=pd.read_csv("D:\\Research\\AD\\ADLLM\\ADNI process 9\\ADNI\\adni_thickness_Dec_17_training.csv")
adni_training=adni_training.fillna("NA")
import pandas as pd
import numpy as np

# Example data
df = pd.DataFrame({
    'value':list(adni_training[adni_training["zscore_meta_tau"]!="NA"]["zscore_meta_tau"])
})

# Define custom bins with lower and upper bounds
bins = [(-np.inf, -0.413), (-0.413, 0.194), (0.194, 1.035), (1.035, np.inf)]

# Create a new column for bin assignment
def assign_bin(value):
    for lower, upper in bins:
        if lower < value <= upper:
            return f"{lower} to {upper}"
    return None

df['bin'] = df['value'].apply(assign_bin)

stats_per_bin = df.groupby('bin')['value'].agg(['mean', 'std', 'count']).reset_index()
stats_per_bin

               bin      mean       std  count
0  -0.413 to 0.194 -0.105773  0.197357    321
1   -inf to -0.413 -1.047023  0.488552    242
2   0.194 to 1.035  0.606234  0.226356    297
3     1.035 to inf  4.629355  4.212438    458

In [20]:
import pandas as pd
adni_test=pd.read_csv("D:\\Research\\AD\\ADLLM\\ADNI process 9\\ADNI\\adni_thickness_Dec_17_testing.csv")
adni_test=adni_test.fillna("NA")
import pandas as pd
import numpy as np

# Example data
df = pd.DataFrame({
    'value':list(adni_testing[adni_testing["zscore_meta_tau"]!="NA"]["zscore_meta_tau"])
})

# Define custom bins with lower and upper bounds
bins = [(-np.inf, -0.413), (-0.413, 0.194), (0.194, 1.035), (1.035, np.inf)]

# Create a new column for bin assignment
def assign_bin(value):
    for lower, upper in bins:
        if lower < value <= upper:
            return f"{lower} to {upper}"
    return None

df['bin'] = df['value'].apply(assign_bin)

stats_per_bin = df.groupby('bin')['value'].agg(['mean', 'std', 'count']).reset_index()
stats_per_bin

               bin      mean       std  count
0  -0.413 to 0.194 -0.103680  0.197585     59
1   -inf to -0.413 -1.075699  0.489443     57
2   0.194 to 1.035  0.571795  0.237296     62
3     1.035 to inf  4.810073  4.601221    131

In [21]:
import pandas as pd
habs_training=pd.read_csv("D:\\Research\\AD\\ADLLM\\ADNI process 9\\HABS-HD\\HABS-HD_thickness_Dec_17_training.csv")
habs_training=habs_training.fillna("NA")
import pandas as pd
import numpy as np

# Example data
df = pd.DataFrame({
    'value':list(habs_training[habs_training["zscore_meta_tau"]!="NA"]["zscore_meta_tau"])
})

# Define custom bins with lower and upper bounds
bins = [(-np.inf, -0.413), (-0.413, 0.194), (0.194, 1.035), (1.035, np.inf)]
# Create a new column for bin assignment
def assign_bin(value):
    for lower, upper in bins:
        if lower < value <= upper:
            return f"{lower} to {upper}"
    return None

df['bin'] = df['value'].apply(assign_bin)

stats_per_bin = df.groupby('bin')['value'].agg(['mean', 'std', 'count']).reset_index()
stats_per_bin

               bin      mean       std  count
0  -0.413 to 0.194 -0.081740  0.175483    308
1   -inf to -0.413 -1.164142  0.635514    306
2   0.194 to 1.035  0.613232  0.241605    294
3     1.035 to inf  2.621259  3.300828    221

In [22]:
import pandas as pd
habs_testing=pd.read_csv("D:\\Research\\AD\\ADLLM\\ADNI process 9\\HABS-HD\\HABS-HD_thickness_Dec_17_testing.csv")
habs_testing=habs_testing.fillna("NA")
import pandas as pd
import numpy as np

# Example data
df = pd.DataFrame({
    'value':list(habs_testing[habs_testing["zscore_meta_tau"]!="NA"]["zscore_meta_tau"])
})

# Define custom bins with lower and upper bounds
bins = [(-np.inf, -0.413), (-0.413, 0.194), (0.194, 1.035), (1.035, np.inf)]
# Create a new column for bin assignment
def assign_bin(value):
    for lower, upper in bins:
        if lower < value <= upper:
            return f"{lower} to {upper}"
    return None

df['bin'] = df['value'].apply(assign_bin)

stats_per_bin = df.groupby('bin')['value'].agg(['mean', 'std', 'count']).reset_index()
stats_per_bin

               bin      mean       std  count
0  -0.413 to 0.194 -0.069637  0.178320     50
1   -inf to -0.413 -1.214423  0.616885     98
2   0.194 to 1.035  0.557732  0.230673     74
3     1.035 to inf  3.235223  3.539689     46

In [23]:
import pandas as pd
pointer_training=pd.read_csv("D:\\Research\\AD\\ADLLM\\ADNI process 9\\POINTER\\pointer_thickess_Dec_18_training.csv")
pointer_training=pointer_training.fillna("NA")
import pandas as pd
import numpy as np

# Example data
df = pd.DataFrame({
    'value':list(pointer_training[pointer_training["zscore_meta_tau"]!="NA"]["zscore_meta_tau"])
})

# Define custom bins with lower and upper bounds
bins = [(-np.inf, -0.413), (-0.413, 0.194), (0.194, 1.035), (1.035, np.inf)]
# Create a new column for bin assignment
def assign_bin(value):
    for lower, upper in bins:
        if lower < value <= upper:
            return f"{lower} to {upper}"
    return None

df['bin'] = df['value'].apply(assign_bin)

stats_per_bin = df.groupby('bin')['value'].agg(['mean', 'std', 'count']).reset_index()
stats_per_bin

               bin      mean       std  count
0  -0.413 to 0.194 -0.087795  0.191108    212
1   -inf to -0.413 -0.921800  0.413369    219
2   0.194 to 1.035  0.579678  0.229089    201
3     1.035 to inf  2.276291  2.055313     99

In [24]:
import pandas as pd
pointer_testing=pd.read_csv("D:\\Research\\AD\\ADLLM\\ADNI process 9\\POINTER\\pointer_thickess_Dec_18_testing.csv")
pointer_testing=pointer_testing.fillna("NA")
import pandas as pd
import numpy as np

# Example data
df = pd.DataFrame({
    'value':list(pointer_testing[pointer_testing["zscore_meta_tau"]!="NA"]["zscore_meta_tau"])
})

# Define custom bins with lower and upper bounds
bins = [(-np.inf, -0.413), (-0.413, 0.194), (0.194, 1.035), (1.035, np.inf)]
# Create a new column for bin assignment
def assign_bin(value):
    for lower, upper in bins:
        if lower < value <= upper:
            return f"{lower} to {upper}"
    return None

df['bin'] = df['value'].apply(assign_bin)

stats_per_bin = df.groupby('bin')['value'].agg(['mean', 'std', 'count']).reset_index()
stats_per_bin

               bin      mean       std  count
0  -0.413 to 0.194 -0.092479  0.181591     48
1   -inf to -0.413 -0.890096  0.327708     49
2   0.194 to 1.035  0.522132  0.224173     55
3     1.035 to inf  2.787411  2.764953     28

In [25]:
import pandas as pd
a4_training=pd.read_csv("D:\\Research\\AD\\ADLLM\\ADNI process 9\\A4\\A4_thickness_Dec_17_validation.csv")
a4_training=a4_training.fillna("NA")
import pandas as pd
import numpy as np

# Example data
df = pd.DataFrame({
    'value':list(a4_training[a4_training["zscore_meta_tau"]!="NA"]["zscore_meta_tau"])
})

# Define custom bins with lower and upper bounds
bins = [(-np.inf, -0.413), (-0.413, 0.194), (0.194, 1.035), (1.035, np.inf)]

# Create a new column for bin assignment
def assign_bin(value):
    for lower, upper in bins:
        if lower < value <= upper:
            return f"{lower} to {upper}"
    return None

df['bin'] = df['value'].apply(assign_bin)

stats_per_bin = df.groupby('bin')['value'].agg(['mean', 'std', 'count']).reset_index()
stats_per_bin

               bin      mean       std  count
0  -0.413 to 0.194 -0.097267  0.177569     85
1   -inf to -0.413 -1.087420  0.555537     72
2   0.194 to 1.035  0.605400  0.233683    103
3     1.035 to inf  2.425139  1.499430    180